.App {
  text-align: center;
  background-color: black;
  height: 100vh;
}

h2 {
  margin-top: 0;
  color: white
}

.logo-services-container {
  background-color: grey;
  width: 2880px;
  height: 562px;
}

.logo-services-wrap {
  background-color: gold;
  /* padding-top: 110px;
  padding-bottom: 90px; */
  height: 560px;
  width: 1410px;

}

.logo-description-container {
  background-color: pink;
  width: 2880px;
  height: 562px;
}

