.App {
  height: 100vh;
  margin: 0;
  text-align: center;
}

.logo-services-container {
  height: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
}

.logo-types-container {
  background-image: linear-gradient(145deg, #4F4F4F 0%, #282828);
  border-radius: 15px;
  height: 450px;
  margin-bottom: 90px;
  padding-top: 110px;
}

.logo-types-wrapper {
  height: 360px;
  margin-left: 105px;
  margin-right: 105px;
}

.logo-description-container {
  display: flex;
  height: 470px;
  justify-content: center;
  margin-bottom: 90px;
}




