.App {
  text-align: center;
  background-color: black;
  height: 100vh;
  margin: 0;
}

.logo-services-container {
  background-color: gold;
  height: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
}

.logo-types-container {
  background-color: white;
  height: 450px;
  border-radius: 15px;
  padding-top: 110px;
  border: 2px solid black;
  margin-bottom: 90px;
  
}

.logo-types-wrapper {
  height: 360px;
  background-color: black;
  margin-left: 105px;
  margin-right: 105px;

}

.logo-description-container {
  background-color: cornsilk;
  display: flex;
  height: 470px;
  border: 2px solid black;
  margin-bottom: 90px;
  justify-content: center;
}




