.logo-card {
  color: white;
  box-shadow: none;
  background-color: transparent;
  height: 169px;
  width: 167px;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  border-color: rgba(255, 255, 255, 0.25);
  border-width: 1px;

}

.logo-card:hover{
  background-color: white;
  color: black;
  text-decoration: underline;
  text-decoration-color: #FFCC29;
}

.logo-card:hover * {
  color: black;

  /* text-shadow: 8px 8px 18px rgb(1 96 231 / 30%); */
}

.logo-card:hover .fas{
  text-shadow: 8px 8px 8px rgb(1 96 231 / 30%);
}

.logo-card:hover .fab{
  text-shadow: 8px 8px 8px rgb(1 96 231 / 30%);
}

.card-wrap::after {
  content: "";
  visibility: visible;
  opacity: 1;
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: white;
  transform: rotate(-45deg);
  /* z-index: -1 */
  margin-left: -15px;
  border-radius: 4px;
  visibility: hidden;
  
}

.icon-container {
  height: 32px;
  width: 135px;
  margin-bottom: 20px;
}

.fas {
  width: 20px;
  font-size: 32px;
  color: #FFCC29;
}



.fab {
  width: 20px;
  font-size: 32px;
  color: #FFCC29;
}



.logo-name , .logo-name-ending {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-weight: 600;
  letter-spacing: -0.9px;
}

