.logo-card {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  border-width: 1px;
  box-shadow: none;
  color: white;
  cursor: pointer;
  height: 169px;
  padding-left: 15px;
  padding-right: 15px;
  width: 167px;
}

.logo-card:hover {
  background-color: white;
  color: black;
  text-decoration: underline;
  text-decoration-color: #FFCC29;
}

.logo-card:hover * {
  color: black;
}

.logo-card:hover .fas{
  text-shadow: 8px 8px 8px rgb(1 96 231 / 30%);
}

.logo-card:hover .fab{
  text-shadow: 8px 8px 8px rgb(1 96 231 / 30%);
}

.logo-card:focus {
  outline: none;
}

.active {
  background-color: white;
  color: black;
  text-decoration: underline;
  text-decoration-color: #FFCC29;
}

.active .fas{
  color: black;
  text-shadow: 8px 8px 8px rgb(1 96 231 / 30%);
}

.active .fab{
  color: black;
  text-shadow: 8px 8px 8px rgb(1 96 231 / 30%);
}

.active::after { 
  background-color: white;
  border-radius: 4px;
  clip-path: polygon(0 1%, 0 100%, 100% 100%);
  content: "";
  height: 40px;
  margin-left: -15px;
  opacity: 1;
  position: absolute;
  transform: rotate(-45deg);
  visibility: visible;
  width: 40px;
  z-index: 1;
}

.icon-container {
  height: 32px;
  margin-bottom: 20px;
  width: 135px;
}

.fas {
  color: #FFCC29;
  font-size: 32px;
  width: 20px;
}

.fab {
  color: #FFCC29;
  font-size: 32px;
  width: 20px;
}

.logo-name , .logo-name-ending {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.9px;
  margin: 0;
}



