.logo-card {
  background-color: white;
  height: 169px;
  width: 167px;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  border-color: rgba(255, 255, 255, 0.25)
}

.icon-container {
  height: 32px;
  width: 135px;
  margin-bottom: 20px;
}

.fas {
  width: 20px;
  font-size: 32px;
  color: #FFCC29;
}

.fab {
  width: 20px;
  font-size: 32px;
  color: #FFCC29;
}

.logo-name , .logo-name-ending {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-weight: 600;
  letter-spacing: -0.9px;
}

